name: Release Version Updater

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get latest versions
        run: |
          ATM=$(curl -s https://api.github.com/repos/Atmosphere-NX/Atmosphere/releases/latest | jq -r .tag_name)
          HEK=$(curl -s https://api.github.com/repos/CTCaer/hekate/releases/latest | jq -r .tag_name)
          SYS=$(curl -s https://api.github.com/repos/impeeza/sys-patch/releases/latest | jq -r .tag_name)
          FW=$(curl -s https://api.github.com/repos/THZoria/NX_Firmware/releases/latest | jq -r .tag_name)

          echo "[Release Info]" > RELEASE.ini
          echo "atmosphere=${ATM}" >> RELEASE.ini
          echo "hekate=${HEK}" >> RELEASE.ini
          echo "sys-patch=${SYS}" >> RELEASE.ini
          echo "firmware=${FW}" >> RELEASE.ini

      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Auto update Switch versions"
          file_pattern: 'RELEASE.ini'
          commit_author: "github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>"
          push_options: '--force'
